<h1>Welcome back to CompBase</h1>
<br>

<form method="POST" action="/login"
<label>Username >>> </label>
<input type="text" name="username"><br></br>
<label>Password >>> </label>
<input type="password" name="password"><br></br>
<input type="submit" value="Log In">
</form>
