<head>
  <style>
    body {background-color: black;}
    div {background-color: white;}
  </style>
</head>
<div align="center">
<form action='/signup' method='post'>
<h2>Create New User Acccount</h2>

<% if flash.has?(:message)%>
  <font color="red"><%= flash[:message] %></font>
<% end %>
<br></br>

<label>Username >>> </label>
<input type="text" name="username"><br></br>
<label>Password >>> </label>
<input type="password" name="password"><br></br>
<label>Email >>> </label>
<input type="text" name="email"><br></br>

<input type="submit" value="Create Account">

</form>
</div>
